{% extends 'student/base-student.html' %}

  {% block body %}
  <body>
    <h3>student ID:{{user.username}}</h3>
    <br>
    <div class="container-fluid students-container">

        <div class="row">

            <!-- Left Album Info -->
            <div class="col-sm-4 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                <h3  class="text text-center">Click View Details to see information</h3>


                        <table class="table">
                            <thead>
                            <tr>
                              <th>List</th>
                              {% for r in loop_str %}
                              <td>{{ forloop.counter }} </td>
                              {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>regNo</td>
                                    {% for r in listregNo %}
                                    <td>{{r}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Department</td>
                                    {% for r in listdep %}
                                    <td>{{r}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>cost</td>
                                    {% for r in listprice %}
                                    <td>{{r}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Discount</td>
                                    {% for r in listdiscount %}
                                    <td>{{r}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>status</td>
                                    {% for r in liststatus %}
                                    <td>{{r}}</td>
                                    {% endfor %}
                                </tr>
                              </tbody>
                        </table>
                              {% if buttonbool %}
                            <h1><font color="red"> You aren't complete registration in this semester !!</font></h1>
                            
                              {%endif%}

    <br>
    <a href="{% url 'home' %}" class="btn btn-success">Back to home</a>
    </div>
    </div>
</div>
</div>
</div>
  </body>

{% endblock %}

<script>
function clickButton(){
  var studentIDvar = document.getElementById("myField").value;
  document.getElementById('smname').value = studentIDvar;
}

function selectCourse(){
  var studentIDvar = document.getElementById("myField").value;
  document.getElementById('smname').value = '55555555555';
}

</script>
