{% extends 'student/base-student.html' %}

{% block body %}
    <h1 style="text-indent: 280px">Selected Courses</h1>


<div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>SubjectCode</th>
                            <th>SubjectName</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for student in all_student %}
                            {% if student.StudentID == user.username %}
                                {% for history in student.history_set.all %}
                                    {% if history.StudyYet == True %}
                                        {% if history.Grade == '-' %}
                                        <tr>
                                            <td>{{ history.his_subject_FK.SubjectID }}</td>
                                            <td>{{ history.his_subject_FK.SubjectName }}</td>
                                        </tr>
                                        {% endif %}
                                    {% endif%}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        </table>

                </div>
            </div>

    <br><br>
            <a style="font-size: 40px;" href="{% url 'student:add-subject' %}" class="btn btn-primary btn-lg " role="button"><i class="fa fa-plus" aria-hidden="true"></i> Add subject</a>


            {% for student in all_student %}
                {% if student.StudentID == user.username %}
                    {% for register in student.register_set.all %}
                        {% if register.Semester == student.CurrentSemester %}
                            <a style="font-size: 40px;" href="{% url 'student:register-update' register.id %}" class="btn btn-warning btn-lg " role="button"><i class="fa fa-check" aria-hidden="true"></i>submit</a>
                        {% endif %}
                    {% endfor%}
                {% endif %}
            {% endfor%}


    <br><br><a href="{% url 'student:student-manage' %}" class="btn btn-success btn-lg"><i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i> Back to home</a>

</div>
{% endblock %}