<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Complex</title>
    {% load staticfiles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>
  <body>
    <h3>student ID:{{user.username}}</h3>
    <br>

    <h1>Total cost of each department</h1>
    {% block body %}
    Department Count: {{count}}
      <table class="table">
          <thead>
              <tr>
      {% for a in departmentname %}
                <th>
                  {{a}}
                </th>
      {% endfor %}
              </tr>
          </thead>
          <tbody>
              <tr>
      {% for a in list %}
                <td>
              {{a}}
                </td>
      {% endfor %}
              </tr>
          </tbody>
      </table>

    {% endblock %}

    <a href="{% url 'home' %}" class="btn btn-success">Back to home</a>

  </body>
</html>

<script>
function clickButton(){
  var studentIDvar = document.getElementById("myField").value;
  document.getElementById('smname').value = studentIDvar;
}
</script>
