{% extends 'student/base.html' %}
{% block students_active %}active{% endblock %}
{% block body %}
<div class="students-container container-fluid">


     <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'student:student-add'%}">Add New Student</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">


                    <h3>All Students</h3>

                    <form method='GET' action=''>
                        <input type='text' name='q' placeholder='Search student name'/>
                        <input type='submit' value='Search'/>
                    </form>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>Department</th>
                            <th>DOB</th>
                            <th>Tel</th>
                            <th>Degree</th>
                            <th>GPAX</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in all_students %}
                            <tr>
                                <td>{{ student.name }}</td>
                                <td>{{ student.stu_dep_FK.DepName }}</td>
                                 <td>{{ student.DOB }}</td>
                                 <td>{{ student.Tel }}</td>
                                <td>{{ student.Degree }}</td>
                                 <td>{{ student.GPAX }}</td>
                                <td>
                                   <a href="{% url 'student:student-update' student.id %}" class="btn btn btn-warning" role="button">Edit</a>
                                </td>
                                  <td>
                                <form action="{% url 'student:student-delete' student.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="student_id" value="{{ studemt.id }}" />
                                <button type="submit"class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>  Remove
                                </button>
                            </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

</div>
{% endblock %}